{% extends "base.html" %}
{% block content %}

<!-- Mostrar título -->
<h2>Historial de movimientos</h2>

<!-- Comprobar si hay movimientos -->
{% if movimientos %}
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda From</th>
            <th>Cantidad From</th>
            <th>Moneda To</th>
            <th>Cantidad To</th>
        </tr>
    </thead>
    <tbody>
        <!-- Recorrer movimientos -->
        {% for m in movimientos %}
        <tr>
            <td>{{ m.date }}</td>
            <td>{{ m.time }}</td>
            <td>{{ m.moneda_from }}</td>
            <td>{{ m.cantidad_from | euro }}</td>
            <td>{{ m.moneda_to }}</td>
            <td>{{ m.cantidad_to | euro }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<!-- Mostrar mensaje si no hay datos -->
<p>Sin movimientos</p>
{% endif %}

{% endblock %}